.AlbumCard {
  border: 2px solid #4686E6;
  border-radius: 5px;
  flex: 0 0 200px;
  max-width: 200px;
  height: 237px;
  padding: 12px;
  text-align: center;
  margin: 8px;
}

.AlbumCard__title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
