.AlbumSlider {
  background: rgba(255, 255, 255, .95);
  bottom: 0;
  left: 0;
  padding: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.AlbumSlider__box {
  border: 2px solid #4686E6;
  border-radius: 4px;
  height: 100%;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.AlbumSlider__box-title {
  color: #4686E6;
  font-size: 1.5em;
}

@media only screen and (min-width: 700px) {
  .AlbumSlider__box-title {
    font-size: 2em;
  }
}
